<a href="https://colab.research.google.com/github/densivanov/data_analytics_projects/blob/main/uber_analysis/BigQuery_analysis_PySparkSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Installing libraries

In [27]:
import pandas as pd

!pip install pyspark py4j
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Analysis").getOrCreate()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

#Getting data

In [28]:
df = spark.read \
          .option("header",True) \
          .csv("/content/uber_data.csv")

In [29]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RatecodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2016-03-01 00:00:00|  2016-03-01 00:07:55|              1|          2.5|-73.97674560546875|40.765151977539055|         1|                 N|-74.00426483154298| 40.74612808227539|           1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|
|       1| 2016-03-01 00:00:00|  2016-03-01 00:11:06|              1|          2.9|-73.98348236083984|40.767925262451165|         1|                 N|-74.00594329833984|  40.7331657409668|           1|       11.0|  0.5|    0.5|      3.05|         0.0|                  0.3|       15.35|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:31:06|              2|        19.98|-73.78202056884764| 40.64480972290039|         1|                 N|-73.97454071044923|  40.6757698059082|           1|       54.5|  0.5|    0.5|       8.0|         0.0|                  0.3|        63.8|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:00:00|              3|        10.78|-73.86341857910156|40.769813537597656|         1|                 N|-73.96965026855469|40.757766723632805|           1|       31.5|  0.0|    0.5|      3.78|        5.54|                  0.3|       41.62|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:00:00|              5|        30.43|-73.97174072265625| 40.79218292236328|         3|                 N|-74.17716979980467| 40.69505310058594|           1|       98.0|  0.0|    0.0|       0.0|        15.5|                  0.3|       113.8|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:00:00|              5|         5.92|-74.01719665527344| 40.70538330078125|         1|                 N|-73.97807312011719| 40.75578689575195|           1|       23.5|  1.0|    0.5|      5.06|         0.0|                  0.3|       30.36|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:00:00|              6|         5.72|-73.99458312988281| 40.72784805297852|         1|                 N|               0.0|               0.0|           2|       23.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        24.3|
|       1| 2016-03-01 00:00:01|  2016-03-01 00:16:04|              1|          6.2|-73.78877258300781| 40.64775848388672|         1|                 N|-73.82920837402342|40.712345123291016|           3|       20.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        21.8|
|       1| 2016-03-01 00:00:01|  2016-03-01 00:05:00|              1|          0.7|-73.95822143554686| 40.76464080810546|         1|                 N| -73.9678955078125| 40.76290130615234|           1|        5.5|  0.5|    0.5|       2.0|         0.0|                  0.3|         8.8|
|       2| 2016-03-01 00:00:01|  2016-03-01 00:24:06|              3|         7.18|-73.98577880859375| 40.74119186401367|         1|                 N|-73.94635009765625| 40.79787826538086|           1|       23.5|  0.5|    0.5|       3.2|         0.0|                  0.3|        28.0|
|       2| 2016-03-01 00:00:01|  2016-03-01 00:02:03|              2|         0.54| -73.9884262084961|    40.76416015625|         1|                 N|-73.99239349365233| 40.75822448730469|           2|        4.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.3|
|       1| 2016-03-01 00:00:02|  2016-03-01 00:07:49|              1|          1.7|-73.96981811523438| 40.79742813110352|         1|                 N|-73.94377136230467|40.796199798583984|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|
|       1| 2016-03-01 00:00:02|  2016-03-01 00:03:05|              1|          1.1|-73.95380401611328| 40.78812789916992|         1|                 N|-73.97154998779298| 40.79523849487305|           1|        5.5|  0.5|    0.5|       2.2|         0.0|                  0.3|         9.0|
|       2| 2016-03-01 00:00:02|  2016-03-01 00:09:32|              1|          2.1|-73.97608947753906| 40.75217056274414|         1|                 N| -73.9874496459961|40.770782470703125|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|
|       2| 2016-03-01 00:00:02|  2016-03-01 00:24:11|              1|         8.54|-74.00206756591797|40.719120025634766|         1|                 N|-73.95211791992188| 40.81124114990234|           1|       27.0|  0.5|    0.5|      5.66|         0.0|                  0.3|       33.96|
|       2| 2016-03-01 00:00:02|  2016-03-01 00:08:24|              1|          2.0|-74.00672912597656|40.730716705322266|         1|                 N|-74.01704406738281| 40.70936584472656|           1|        8.5|  0.5|    0.5|       2.0|         0.0|                  0.3|        11.8|
|       1| 2016-03-01 00:00:03|  2016-03-01 00:09:23|              1|          3.2| -74.0066146850586|40.716621398925774|         1|                 N|-73.99010467529298| 40.75605010986328|           2|       11.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|
|       2| 2016-03-01 00:00:03|  2016-03-01 00:08:34|              1|         1.59|-73.98226928710938|  40.7706184387207|         1|                 N|-73.96874237060547| 40.75503921508789|           1|        8.0|  0.5|    0.5|      1.86|         0.0|                  0.3|       11.16|
|       2| 2016-03-01 00:00:03|  2016-03-01 00:32:45|              3|        16.81|-73.79238891601561|  40.6450309753418|         2|                 N|-73.98628997802734| 40.75851821899414|           1|       52.0|  0.0|    0.5|       8.0|        5.54|                  0.3|       66.34|
|       1| 2016-03-01 00:00:04|  2016-03-01 00:03:30|              2|          0.5| -73.9837875366211| 40.73189163208008|         1|                 N|-73.97581481933594| 40.72851943969727|           1|        4.5|  0.5|    0.5|      1.15|         0.0|                  0.3|        6.95|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows

# Creating a view

In [30]:
# Create SQL table
spark.read \
          .option("header",True) \
          .csv("/content/uber_data.csv") \
          .createOrReplaceTempView("df")

In [31]:
spark.sql('''
          SELECT *
          FROM df


''').show()

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RatecodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2016-03-01 00:00:00|  2016-03-01 00:07:55|              1|          2.5|-73.97674560546875|40.765151977539055|         1|                 N|-74.00426483154298| 40.74612808227539|           1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|
|       1| 2016-03-01 00:00:00|  2016-03-01 00:11:06|              1|          2.9|-73.98348236083984|40.767925262451165|         1|                 N|-74.00594329833984|  40.7331657409668|           1|       11.0|  0.5|    0.5|      3.05|         0.0|                  0.3|       15.35|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:31:06|              2|        19.98|-73.78202056884764| 40.64480972290039|         1|                 N|-73.97454071044923|  40.6757698059082|           1|       54.5|  0.5|    0.5|       8.0|         0.0|                  0.3|        63.8|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:00:00|              3|        10.78|-73.86341857910156|40.769813537597656|         1|                 N|-73.96965026855469|40.757766723632805|           1|       31.5|  0.0|    0.5|      3.78|        5.54|                  0.3|       41.62|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:00:00|              5|        30.43|-73.97174072265625| 40.79218292236328|         3|                 N|-74.17716979980467| 40.69505310058594|           1|       98.0|  0.0|    0.0|       0.0|        15.5|                  0.3|       113.8|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:00:00|              5|         5.92|-74.01719665527344| 40.70538330078125|         1|                 N|-73.97807312011719| 40.75578689575195|           1|       23.5|  1.0|    0.5|      5.06|         0.0|                  0.3|       30.36|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:00:00|              6|         5.72|-73.99458312988281| 40.72784805297852|         1|                 N|               0.0|               0.0|           2|       23.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        24.3|
|       1| 2016-03-01 00:00:01|  2016-03-01 00:16:04|              1|          6.2|-73.78877258300781| 40.64775848388672|         1|                 N|-73.82920837402342|40.712345123291016|           3|       20.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        21.8|
|       1| 2016-03-01 00:00:01|  2016-03-01 00:05:00|              1|          0.7|-73.95822143554686| 40.76464080810546|         1|                 N| -73.9678955078125| 40.76290130615234|           1|        5.5|  0.5|    0.5|       2.0|         0.0|                  0.3|         8.8|
|       2| 2016-03-01 00:00:01|  2016-03-01 00:24:06|              3|         7.18|-73.98577880859375| 40.74119186401367|         1|                 N|-73.94635009765625| 40.79787826538086|           1|       23.5|  0.5|    0.5|       3.2|         0.0|                  0.3|        28.0|
|       2| 2016-03-01 00:00:01|  2016-03-01 00:02:03|              2|         0.54| -73.9884262084961|    40.76416015625|         1|                 N|-73.99239349365233| 40.75822448730469|           2|        4.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.3|
|       1| 2016-03-01 00:00:02|  2016-03-01 00:07:49|              1|          1.7|-73.96981811523438| 40.79742813110352|         1|                 N|-73.94377136230467|40.796199798583984|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|
|       1| 2016-03-01 00:00:02|  2016-03-01 00:03:05|              1|          1.1|-73.95380401611328| 40.78812789916992|         1|                 N|-73.97154998779298| 40.79523849487305|           1|        5.5|  0.5|    0.5|       2.2|         0.0|                  0.3|         9.0|
|       2| 2016-03-01 00:00:02|  2016-03-01 00:09:32|              1|          2.1|-73.97608947753906| 40.75217056274414|         1|                 N| -73.9874496459961|40.770782470703125|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|
|       2| 2016-03-01 00:00:02|  2016-03-01 00:24:11|              1|         8.54|-74.00206756591797|40.719120025634766|         1|                 N|-73.95211791992188| 40.81124114990234|           1|       27.0|  0.5|    0.5|      5.66|         0.0|                  0.3|       33.96|
|       2| 2016-03-01 00:00:02|  2016-03-01 00:08:24|              1|          2.0|-74.00672912597656|40.730716705322266|         1|                 N|-74.01704406738281| 40.70936584472656|           1|        8.5|  0.5|    0.5|       2.0|         0.0|                  0.3|        11.8|
|       1| 2016-03-01 00:00:03|  2016-03-01 00:09:23|              1|          3.2| -74.0066146850586|40.716621398925774|         1|                 N|-73.99010467529298| 40.75605010986328|           2|       11.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|
|       2| 2016-03-01 00:00:03|  2016-03-01 00:08:34|              1|         1.59|-73.98226928710938|  40.7706184387207|         1|                 N|-73.96874237060547| 40.75503921508789|           1|        8.0|  0.5|    0.5|      1.86|         0.0|                  0.3|       11.16|
|       2| 2016-03-01 00:00:03|  2016-03-01 00:32:45|              3|        16.81|-73.79238891601561|  40.6450309753418|         2|                 N|-73.98628997802734| 40.75851821899414|           1|       52.0|  0.0|    0.5|       8.0|        5.54|                  0.3|       66.34|
|       1| 2016-03-01 00:00:04|  2016-03-01 00:03:30|              2|          0.5| -73.9837875366211| 40.73189163208008|         1|                 N|-73.97581481933594| 40.72851943969727|           1|        4.5|  0.5|    0.5|      1.15|         0.0|                  0.3|        6.95|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows

#Analysis

#### Question №1: Output the average, maximum and minimum distance of the trip

In [32]:
spark.sql('''SELECT ROUND(AVG(trip_distance),2) AS avg_distance,
                    ROUND(MAX(trip_distance),2) AS max_distance,
                    ROUND(MIN(trip_distance),2) AS min_distance
             FROM df
             
             
             
             ''') \
     .show()

+------------+------------+------------+
|avg_distance|max_distance|min_distance|
+------------+------------+------------+
|        3.03|        9.99|         0.0|
+------------+------------+------------+

#### Question №2: How many records are there in the table?

In [34]:
spark.sql('''SELECT COUNT(*) AS records
             FROM df
             
             
             
             ''') \
     .show()

+-------+
|records|
+-------+
| 100000|
+-------+

#### Question №3: Output the average final price and the average tip per trip by the hour

In [44]:
spark.sql('''SELECT EXTRACT(HOUR FROM tpep_pickup_datetime) AS hour,
                    ROUND(AVG(total_amount),2) AS avg_total_amount,
                    ROUND(AVG(tip_amount),2) AS avg_tip_amount
             FROM df
             GROUP BY EXTRACT(HOUR FROM tpep_pickup_datetime)
             ORDER BY EXTRACT(HOUR FROM tpep_pickup_datetime) ASC
             
             
             
             ''') \
     .show()

+----+----------------+--------------+
|hour|avg_total_amount|avg_tip_amount|
+----+----------------+--------------+
|   0|           17.43|          1.91|
|   1|           17.11|          1.75|
|   2|            15.8|          1.49|
|   3|           17.06|          1.43|
|   4|           19.81|          1.88|
|   5|           18.41|          2.09|
|   6|           17.04|          2.01|
|   7|           14.91|          1.82|
|   8|           15.13|          1.86|
|   9|           15.63|          1.89|
|  10|           16.08|          1.91|
|  11|           16.12|          1.84|
|  12|            16.3|          1.86|
|  13|           17.22|          1.94|
|  14|           18.43|          2.09|
+----+----------------+--------------+

#### Question №4: Output the average / max / min final price for the trip by type of payment

In [48]:
spark.sql('''SELECT payment_type,
                    ROUND(AVG(total_amount),2) AS avg_total_amount,
                    ROUND(MAX(total_amount),2) AS max_total_amount,
                    ROUND(MIN(total_amount),2) AS min_total_amount
             FROM df
             GROUP BY payment_type
             ORDER BY payment_type ASC
             
             
             
             ''') \
     .show()

+------------+----------------+----------------+----------------+
|payment_type|avg_total_amount|max_total_amount|min_total_amount|
+------------+----------------+----------------+----------------+
|           1|           18.07|           99.96|             0.0|
|           2|           13.07|           98.88|            -3.8|
|           3|           10.63|             9.8|          -10.14|
|           4|           10.03|             9.8|           -20.8|
+------------+----------------+----------------+----------------+

#### Question №5: Show the total number of users by hour

In [52]:
spark.sql('''SELECT EXTRACT(HOUR FROM tpep_pickup_datetime) AS hour,
                    ROUND(SUM(passenger_count),0) AS sum_passenger_count
             FROM df 
             GROUP BY EXTRACT(HOUR FROM tpep_pickup_datetime)
             ORDER BY EXTRACT(HOUR FROM tpep_pickup_datetime) ASC
             
             ''') \
     .show()

+----+-------------------+
|hour|sum_passenger_count|
+----+-------------------+
|   0|            11475.0|
|   1|             6732.0|
|   2|             4129.0|
|   3|             3135.0|
|   4|             3127.0|
|   5|             5683.0|
|   6|             2861.0|
|   7|            19263.0|
|   8|            23678.0|
|   9|            21768.0|
|  10|            19619.0|
|  11|            19535.0|
|  12|            21565.0|
|  13|            20477.0|
|  14|             9870.0|
+----+-------------------+

#### Question №6: Show metrics on travel time

In [59]:
spark.sql('''SELECT ROUND(AVG(DATEDIFF(minute,tpep_pickup_datetime,tpep_dropoff_datetime)),2) AS avg_time_min,
                    ROUND(MAX(DATEDIFF(minute,tpep_pickup_datetime,tpep_dropoff_datetime)),2) AS max_time_min,
                    ROUND(MIN(DATEDIFF(minute,tpep_pickup_datetime,tpep_dropoff_datetime)),2) AS min_time_min
             FROM df 
             
             ''') \
     .show()

+------------+------------+------------+
|avg_time_min|max_time_min|min_time_min|
+------------+------------+------------+
|       16.42|        1439|           0|
+------------+------------+------------+